.input1 {
  width: 400px;
  display: block;
}
.bild1 {
  width: 300px;
  display: block;
}

.div1 {
  margin-top:200px;
}

ul {
  display: inline;
}
li {
  display: inline;
  margin-left: 40px;
}

.nav{
  background-color:beige ;
  padding: 10px;
}